{% extends 'clientes/layout.twig' %}

{% block body %}
<div class="ui grid">
  <div class="column">
    <h1 class="ui header">Cadastro de clientes - Node js</h1>
    <h3 class="ui header">Guilherme Rafael FIgueiredo Pereira</h3>
    <h3 class="ui header">Fatec Zona Leste</h3>
  </div>
</div>
{% endblock %}
